<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-06-24T01:10:28Z</date>
	<key>WorkspacePath</key>
	<string>/Users/astro/code/ios/rsb-mobile-ble/rsb-mobile-ble/rsb-mobile-ble.xcodeproj</string>
</dict>
</plist>
